/*****************************************************************************/
/* body
/*****************************************************************************/

body {
    background: #666 url(/img/bg.png);
    text-rendering: optimizeLegibility;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    color: #5C676B;
    padding: 0 15px;
    font-family: 'Lucida Grande';
}

.btn {
    background-color: #ddd;
    background: linear-gradient(#F8F8F9,#DDDFE1);
    padding: 4px 4px;
    box-shadow: rgba(0, 0, 0, 0.701961) 0px 1px 3px 0px, rgba(0, 0, 0, 0.298039) 0px 1px 0px 0px;
    border: 0;
    border-top: 1px solid rgba(255,255,255,.45);
    font-size: 14px;
    font-weight: bold;
}
.btn:hover, .btn:focus {
    background: #757D8A linear-gradient(#7F8792,#535B68);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.5);
    border-top: 1px solid rgba(255,255,255,.45);
    color: #fff;
}

/*****************************************************************************/
/* AppView
/*****************************************************************************/

.appView > header{
    padding: 10px 10px;
}
.appView > header h1{
    font-size: 35px;
    text-shadow: rgba(0,0,0,0.3) -1px 0, rgba(0,0,0,0.2) 0 -1px, rgba(255,255,255,0.2) 0 1px, rgba(0,0,0,0.2) -1px -2px;
    color: #FFAD00;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.sidebarContainer {
    padding-left: 10px;
    padding-right: 10px;
}

.sidebarControls {
    height: 54px;
    color: white;
    font-weight: bold;
    margin-bottom: 8px;
    padding-left:5px;
}
.sidebarControls .dropdown-toggle {
    font-size: 11px;
}

button.createNote {
    padding: 4px 6px;
    margin: 2px 3px;
}
button.createNote img {
    width: 40px;
    height: 40px;
}

/*****************************************************************************/
/* NoteView
/*****************************************************************************/

.noteListView {
    height: 1000px;
    border-radius: 5px;
    box-shadow: inset 0 1px 5px rgba(0,0,0,.7);
    background-color: rgba(0,0,0,.2);
}

.noteListView .searchWrap {
    width: 100%;
    padding: 10px 15px;
    box-sizing: border-box;
}
.noteListView input {
    width: 100%;
    border-radius: 10px;
}

.noteListView .btn {
    margin: 5px;
}

.noteListView ul {
    list-style: none;
    margin: 0;
    padding: 5px;
}
.noteListView ul li {
    color: #999;
    font-size: 13px;
    margin: 0px 10px;
    padding: 10px 15px;
    cursor: pointer;
    border-top: 1px solid rgba(0,0,0,.4);
    box-shadow: inset 0 1px 0 rgba(150,150,150,.5);
}
.noteListView ul li:hover {
    background-color: rgba(0,0,0,.3);
}
.noteListView ul li .title {
    color: white;
    font-weight: bold;
    font-size: 14px;
}
.noteListView ul li .text {
    width: 100%;
    max-height: 18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.noteView, .noteEditView {
    border-radius: 10px;
    height: 1000px;
    background-color: white;
}

.noteView .header, .noteEditView .header {
    width: 100%;
    height: 40px;
    background-color: #028e9b;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}
.noteView .header .title {
    margin: 0;
    font-size: 16px;
    margin-top: 10px;
}
.noteEditView .header input {
    -webkit-appearance: none;
    font: inherit;
    color: inherit;
    border: 1px dashed #999;
    border-radius: 5px;
    padding: 4px;
    -webkit-box-sizing: border-box;
    width: 100%;
    margin: 3px 5px;
    border-color: #fff;
    background-color: transparent;
}

.noteView .header .btn, .noteEditView .header .btn {
    margin-top: 4px;
}

.noteView .location, .noteEditView .location, .noteEditView .setLocation {
    margin-top: 30px;
    margin-left: 10px;
}

.btn.location img, .btn.setLocation img {
    vertical-align: top;
    margin-top: 2px;
}

.noteView .btn.location .googleImages, .noteEditView .btn.location .googleImages {
    display: none;
}
.noteView .btn.location.active .googleImages, .noteEditView .btn.location.active .googleImages {
    display: block;
}

.noteView .noteText {
    margin-top: 40px;
    margin-left: 10px;
}

.noteEditView .noteInputWrapper {
    padding: 50px 10px;
}
.noteEditView .noteTextInput {
    color: inherit;
    min-height: 200px;
    width: 100%;
    border-radius: 5px;
    border: 1px dashed #999;
}