/*****************************************************************************/
/* body
/*****************************************************************************/

body {
    background: #666 url(/img/bg.png);
    text-rendering: optimizeLegibility;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    color: #5C676B;
    padding: 0 15px;
}

/*****************************************************************************/
/* AppView
/*****************************************************************************/

.appView > header{
    padding: 10px 10px;
}
.appView > header h1{
    font-size: 35px;
    text-shadow: rgba(0,0,0,0.3) -1px 0, rgba(0,0,0,0.2) 0 -1px, rgba(255,255,255,0.2) 0 1px, rgba(0,0,0,0.2) -1px -2px;
    color: #FFAD00;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/*
.appView .wrapper{
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 50px 0 0;
}
.appView .auranoteSidebar .scrollWrapper{
    border-radius: 5px;
    box-shadow: inset 0px 1px 5px rgba(0, 0, 0, .7);
    background-color: rgba(0,0,0,.2);
}
.appView .truncate{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
*/
.sidebarContainer {
    padding-left: 10px;
    padding-right: 10px;
}

.sidebarControls {
    height: 54px;
    color: white;
    font-weight: bold;
    margin-bottom: 8px;
    padding-left:5px;
}

button.createNote {
    padding: 4px 6px;
    margin: 2px 3px;
}
button.createNote img {
    width: 40px;
    height: 40px;
}

/*****************************************************************************/
/* NoteView
/*****************************************************************************/

.noteListView {
    height: 1000px;
    border-radius: 5px;
    box-shadow: inset 0 1px 5px rgba(0,0,0,.7);
    background-color: rgba(0,0,0,.2);
}

.noteListView input {
    border-radius: 10px;
    margin: 5px;
}

.noteListView .btn {
    margin: 5px;
}

.noteView {
    border-radius: 10px;
    height: 1000px;
    background-color: white;
}

.noteView .header {
    width: 100%;
    height: 40px;
    background-color: #028e9b;
    border-radius: 10px;
}

.noteView .header input {
    -webkit-appearance: none;
    font: inherit;
    color: inherit;
    border: 1px dashed #999;
    border-radius: 5px;
    padding: 4px;
    -webkit-box-sizing: border-box;
    width: 100%;
    margin: 3px 5px;
    border-color: #fff;
    background-color: transparent;
}

.noteView .header .btn {
    margin-top: 4px;
}

.noteView .noteInputWrapper {
    padding: 50px 10px;
}
.noteView .noteTextInput {
    min-height: 200px;
    width: 100%;
}