<!DOCTYPE html>
<html>
  <head>
    <!-- css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="css/aura-not.css" rel="stylesheet" type="text/css"></link>
    <!-- external stuff -->
    <script src="js/ext/jquery.min.js"></script>
    <script src="js/ext/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/ext/underscore-min.js"></script>
    <script type="text/javascript" src="js/ext/backbone-min.js"></script>
    <!-- main js file -->
    <script>
        $(document).ready(function() {
            var appView = new window.AURANOT.AppView();
            appView.render();
            $('body').append(appView.$el);
        });
    </script>
  </head>
  <body>


    <!-- Templates -->
    <script type="text/template" id="appViewTmpl">
      <header>
        <h1>aura:not</h1>
      </header>
        <div class="row">
          <div class="sidebarContainer col-sm-4 col-md-4 col-lg-4">
            <div class="sidebarControls">
              <!-- Single button -->
              Sort
              <div class="btn-group">
                <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown">
                  Newest First <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Newest First</a></li>
                  <li><a href="#">Oldest First</a></li>
                  <li class="divider"></li>
                  <li><a href="#">A - Z</a></li>
                  <li><a href="#">Z - A</a></li>
                </ul>
              </div>
              <button type="button" class="createNote btn pull-right">
                <img src="img/write_blog.png"></img>
              </button>
            </div>
          </div>
          <div class="contentContainer col-sm-8 col-md-8 col-lg-8"></div>
        </div>
    </script>

    <script type="text/template" id="noteViewTmpl">
      <div class="header">
          <div class="col-sm-9 col-md-9 col-lg-9">
            <h3 class="title"><%= title %></h3>
          </div>
          <button type="button" class="edit btn btn-sm">Edit</button>
          <button type="button" class="delete btn btn-sm">Delete</button>
        </div>
        <% if (location != null) { %>
            <button type="button" class="location btn btn-lg">
                <img src="img/location.png"></img>
                <%= location.latitude %>, <%= location.longitude %>
                <div class="googleImages">
                    <img src="http://maps.googleapis.com/maps/api/staticmap?center=<%= location.latitude %>, <%= location.longitude %>&amp;zoom=11&amp;size=100x100&amp;sensor=false"/>
                    <img src="http://maps.googleapis.com/maps/api/streetview?size=100x100&amp;location=<%= location.latitude %>,<%= location.longitude %>&amp;sensor=false"/>
                </div>
            </button>
        <% } %>
        <p class="noteText"><%= text %></p>
      </div>
    </script>

    <script type="text/template" id="noteEditViewTmpl">
      <div class="header">
          <div class="col-sm-9 col-md-9 col-lg-9">
            <input type="text" placeholder="Note Title" value="<%= title %>">
          </div>
          <button type="button" class="cancel btn btn-sm">Cancel</button>
          <button type="button" class="save btn btn-sm">Save</button>
        </div>
        <% if (location == null) { %>
            <button type="button" class="setLocation btn btn-lg">
                <img src="img/location.png"></img>
                Set Location
            </button>
        <% } else { %>
            <button type="button" class="location btn btn-lg">
                <img src="img/location.png"></img>
                <%= location.latitude %>, <%= location.longitude %>
                <div class="googleImages">
                    <img src="http://maps.googleapis.com/maps/api/staticmap?center=<%= location.latitude %>, <%= location.longitude %>&amp;zoom=11&amp;size=100x100&amp;sensor=false"/>
                    <img src="http://maps.googleapis.com/maps/api/streetview?size=100x100&amp;location=<%= location.latitude %>,<%= location.longitude %>&amp;sensor=false"/>
                </div>
            </button>
        <% } %>

        <div class="noteInputWrapper">
            <textarea class="noteTextInput"><%= text %></textarea>
        </div>
      </div>
    </script>

    <script type="text/template" id="noteListViewTmpl">
        <input class="input-sm" placeholder="Search Notes..."></input>
        <button type="button" class="btn btn-sm pull-right">Search</button>
        <ul class="noteList"></ul>
    </script>

    <script type="text/template" id="noteListItemViewTmpl">
      <span class="pull-right"> <% var d = new Date(modifiedDate); print((d.getHours() % 12) + ":" + d.getMinutes() + (d.getHours() > 12 ? "PM" : "AM")); %> </span>
      <p class="title"> <%= title %> </p>
      <p> <%= text %> </p>
    </script>

    <!-- models, collections & views -->
    <script type="text/javascript" src="js/models/note.js"></script>
    <script type="text/javascript" src="js/collections/note-collection.js"></script>
    <script type="text/javascript" src="js/views/app-view.js"></script>
    <script type="text/javascript" src="js/views/note-edit-view.js"></script>
    <script type="text/javascript" src="js/views/note-view.js"></script>
    <script type="text/javascript" src="js/views/note-list-view.js"></script>

  </body>
</html>